body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    display: flex;
    position: relative;
    left: 0;
}

.strata-left {
    background-image: url('./images//bg.jpg');
    height: 100vh;
    /* background-attachment: scroll, scroll; */
    /* width height */
    background-size: auto, 150%;
    color: white;
    /* x => width */
    background-repeat: no-repeat;
    left: 0px;
    /* padding: 8em 4em; */
    position: fixed;
    text-align: right;
    top: 0;
    width: 35%;
}

.strata-right {
    border: 1px solid blue;
    left: 35%;
    top: 0;
    position: absolute;
}

.strata-left-item {
    margin-top: 150px;
    margin-right: 50px;
}

.img-strata-left {
    border-radius: 50%;
}

.text-strata-left {
    width: 50%;
    margin-left: 50%;
    font-size: 20px;
}